.about-us {
	@extend .no-paddings;
	margin:{bottom:10%;}
	@include queries(phoness-min){
		padding: 0 10px !important;
	}
	.title-section {
		padding:{top:90px;}
		@include queries(phoness-min){
			height: 76px;
		}	
		h3 {
			margin:{top:100px;}
			@include queries(phoness-min){
			    margin:{top:20px;}
			}
			@include queries(tabless-min){
			    margin:{top:0px;}
			}
		}
	}
	.content-section {
		.lead-two {
			font:{size:15px;style:italic;}
		}
		.about-panel {
			float:right;
			.panel-group {
				.panel {
					.panel-heading {
						&:first-child {
							padding:{top:0;}
						}
						.panel-title {
							h4 {
								letter-spacing: 3px;
							}
							a {
								border:0;
							}
						}	
					}
					.panel-collapse {
						.panel-body {
							p {
								font:{size:14px;}
								line-height: 23px;
								margin:{top:5px;bottom:25px;}
							}
						}
					}
				}	
			}
		}
	}
}