#content {
	@include queries(phoness-min){
		margin:{bottom:0;}
		padding:{bottom:0;}
	}
	@include queries(tabless-min){
		padding:{bottom:0;}
	}
	@include queries(tabless){
		padding:{bottom:0;}
	}
	.bannercontainer {
		@extend .col-sm-12;
		@extend .no-paddings;
		@include queries(phoness-min){
			margin:{bottom:0;}
		}
		@include queries(tabless-min){
			margin:{bottom:0;}
		}
		.banner {
			ul {
				li {
					.tp-caption {
						font:{family:'Open Sans', sans-serif;}	
						display: block;
						margin: 0 auto;
						text:{align:center;}
						left:0 !important;
						right: 0 !important;
						margin: 0 auto !important;
						.logo {
							@extend .no-paddings;
							width: 21%;
							position: absolute;
							left: 0;
							right: 0;
							margin: 0 auto;
							@include queries(notebook-min){
								width: 31% !important;
							}
							@include queries(tabless-min){
								width: 34% !important;
							}
							@include queries(tabless){
								width: 35% !important;
							}
							@include queries(phoness-min){
								width: 34% !important;
							}
							svg {
								@extend .col-md-12;
								@extend .col-sm-12;
								@extend .col-xs-12;
								@extend .no-paddings;
								height: auto;
							}
						}
						a {
							&.concepto {
								color:#000;
								font:{size:18px;weight:400;style:italic;}
								text:{align:center;transform:uppercase;}
								padding: 0 10px;
								background: #fff;
								@include queries(phoness-min){
									font:{size:8px !important;weight:400;style:italic;}
									left: 0 !important;
									right: 0 !important;
									margin: 0 auto !important;
								}	
							}
							&:hover {
								text:{decoration:none;}
							}
						}
						.text-p {
							font:{family:'Open Sans', sans-serif;}
							width: 40% !important;
							margin:0 auto !important;
							height:150px !important;
							white-space: normal !important;
							font:{size:17px !important;}
							@include queries(phoness-min){
								width: 80% !important;
								font:{size:9px !important;}
								line-height: 11px;
							}
							@include queries(tabless){
								width: 70% !important;
							}
							p {
								font:{size:15px;weight:700 !important;style:italic}
								@include queries(phoness-min){
									font:{size:15px !important;weight:400;style:italic}
									line-height: 15px;
								} 
							}	
						}
						
					}
					.title-banner {
						color:#fff;
						font:{size:60px;}
						text:{align:center;transform:uppercase;}
						left: 0 !important;
						right: 0;
						margin: 0 auto !important;
						@include queries(phoness-min){
							left: 0 !important;
							right: 0 !important;
							margin: 0 auto !important;
						}
					}
					.btn-white {
						font:{family:'Open Sans', sans-serif;}	
						background: none;
						border:2px solid #fff;
						border-radius: 0;
						color:#fff;
						letter-spacing: 3px;
						font:{weight:700;}
						@include queries(phoness-min){
							left: 0 !important;
							right: 0 !important;
							margin: 0 auto !important;
						}
					}
				}
			}
		}
		.tp-rightarrow {
			top:50% !important;
			@include queries(phoness-min){
				right: 0 !important;
			}
		}
		.tp-leftarrow {
			top:50% !important;
			@include queries(phoness-min){
				left: 0 !important;
			}
		}	
	}	
}
