.third-bg {
	@extend .no-margins;
	background:$second_color;
	@include queries(phoness-min){
		padding:0;
	} 
	.services-sldr {
		padding:{top:3%;bottom:5%;}
		@include queries(phoness-min){
			padding:{bottom:0;}
		} 
		h3 {
			letter-spacing: 3px;
		}
		.features-slider {
			margin:{top:30px;}
			@include queries(phoness-min){
				margin:{top:0;}
			} 
			.bx-wrapper {
				@extend .no-margins;
				h2 {
					letter-spacing: 3px;
				}
				p {
					line-height: 20px;
				}
			}
		}	
	}
}




